
/* 오른쪽 부분 */
.section_right{
    float: left;
    width: 730px;/* 수정할 부분 */
    margin-left: 20px;
  }
  .right_title{
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  table, tr, td, th{
          padding: 0px; margin: 0px;
      }
      .member_form{
          width: 960px;
          height: 500px;
      }
      table{
        border-collapse: collapse;
        border-spacing: 0px;
      }
      tr{
        height: 40px;
        line-height: 40px;
  
      }
      td{
        border: 1px solid black;
      }
      
      .title{
      width: 180px;  /* 수정할 부분 */
      background-color: azure;
      text-align: center;
     }
     .content{
      width: 450px;
      padding-left: 10px; /* 수정할 부분 */
     }
     .con1{
      width: 250px;
      height: 26px;
     }
    
    .submit{
      text-align: center;
      border-left: none;
      border-right: none;
      border-bottom: none;
    }
    #submit, #reset{ /*  점(.) : 클래스 , # : id,  콤마(,) : 여러 선택자에 같은 스타일을 적용하고 싶을 때 */
      width: 100px;
      height: 26px;
      background-color: azure;
      border-radius: 5px;
      border: 0.8px solid rgb(152, 148, 148);
   }
   .submit a:hover{
      color: blue;
      background-color: azure;
   }